{% extends "base.html.twig" %}


{% block body %}
	<h1>Nos produits phares
		<i class="fas fa-check"></i>
	</h1>

	<div class="row">
		{% for product in products %}
			<div class="col-12 col-md-4 col-lg-4">
				{% include "product/_product_card.html.twig" with {'p': product } %}
			</div>
		{% endfor %}
	</div>
	<hr>
	<h2>Un service irréprochable</h2>
	<p>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt corrupti repellat, repudiandae excepturi iure inventore autem voluptate non unde quis neque, ab officia magni nihil nemo eos natus doloribus possimus?</p>

	<div class="row mb-4">
		<div class="col-12 col-md-4 col-lg-4">

			{% include "shared/_assurance.html.twig" with  {
            'color': 'primary',
        'icone': 'fas fa-truck',
        'text': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta error blanditiis beatae molestiae et sed!",}%}
		</div>

		<div class="col-12 col-md-4 col-lg-4">

			{% include "shared/_assurance.html.twig" with  {
            'color': 'success',
        'icone': 'fas fa-check',
        'text': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta error blanditiis beatae molestiae et sed!",}%}
		</div>

		<div class="col-12 col-md-4 col-lg-4">

			{% include "shared/_assurance.html.twig" with  {
            'color': 'warning',
        'icone': 'fas fa-lock',
        'text': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta error blanditiis beatae molestiae et sed!",}%}
		</div>


	</div>

{% endblock %}


{% block title %}
	Accueil
{% endblock %}
